<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./public/views/partials/head.html %>
</head>
<body>
  <header>
    <% include ./public/views/partials/header.html %>
  </header>

  <div class="landing-container">
    <div class="overlay"> </div>
    <div class="overlay-mouse"> </div>
    <span class="helper"></span>
    <img src="../img/landing-info.svg" />
  </div>

  <div class="sub-header">
    <img class="my-logo" src="../img/kunal.svg" />
    <h1> Hello, </h1>
    <p> I am a game developer with a pinch of creativity and a lot of enthusiasm. I’m looking forward to create fun-filled interactive experiences that are wonderful, engaging and intuitively immersive. </p>
  </div>

  <div class="sub-header">
    <h1> What can I do? </h1>
    <div class="col-xs-12 cap-content">
      <span class="col-xs-3"><img src="../img/develop.svg"/ alt="" ></span>
      <div class="col-xs-9">
        <h3>Develop</h3>
        <p> I have experience developing applications using <b>Unity 3d (C#) and javascript frameworks</b> for mobile, web and other interactive platforms </p>
      </div>
    </div>​

    <div class="col-xs-12 cap-content">
      <div class="col-xs-9 rt">
        <h3 style="text-align:right;">Design</h3>
        <p style="direction:rtl;"> I enjoy designing interactive experiences that are <b>minimal, innovative and accurate</b> </p>
      </div>
      <span class="col-xs-3"><img src="../img/design.svg"/ alt="" ></span>
    </div>​

    <div class="col-xs-12 cap-content">
      <span class="col-xs-3"><img src="../img/interact.svg"/ alt="" ></span>
      <div class="col-xs-9">
        <h3>Interactive Experiences</h3>
        <p> I have worked on developing and designing applications for <b>Virtual Reality, Augmented Reality and Mixed Reality</b> platforms </p>
      </div>
    </div>​
  </div>

  <footer>
    <% include ./public/views/partials/footer.html %>
  </footer>

</body>
</html>
