<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/head.html %>
</head>
<body>

  <div class="no-page">
    <div class="overlay"> </div>
    <div class="overlay-mouse"> </div>
    <div style="margin: auto; margin-top: 150px;" class="sub-header">
      <h1 style="color: #fff; font-size: 120px;"> 404 </h1>
      <h1 style="color: #fff;"> Umm.. Entered the wrong room? </h1>
      <a href="http://kunalsonar.in/" style="color: #fff;"> Return back to Start </a>
    </div>
  </div>

</body>
</html>
