<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/head.html %>
</head>
<body>
  <header>
    <% include ./partials/header.html %>
  </header>

  <div class="landing-container-sm">
    <div class="overlay"> </div>
    <div class="overlay-mouse"> </div>
    <span class="helper"> </span>
    <h1> About Me </h1>
  <div>

  <div class="about">

    <p>
      Kunal is a game developer with a remarkable attitude for quick learning, owing to the insane amounts of football he has played. If you can’t find him behind a computer screen, look for him on the nearest football field, running around with the ball or on the nearest bed, snoring away happily. He is an avid gamer and thrives on the excitement of building something new.
      <br><br>
      Lets just drop the third person reference.
      <br><br><br>
    </p>

    <div class="col-xs-4 img-col">
      <img src="../img/dp.png" />
      <p> I like playing football as a Midfielder in the team. GGMU! </p>
    </div>
    <div class="col-xs-4 img-col">
      <img src="../img/dp2.png" />
        <p> I have won a few awards for my games. Just showing off! </p>
    </div>
    <div class="col-xs-4 img-col">
      <img src="../img/dp3.png" />
        <p> Meet Laxmi! </p>
    </div>

    <p style="clear: both;">
      <br><br>
      I am "The Logician” (INTP-A) who likes to be creative. Technology and Design are the key driving factors that make me go an extra mile. My interest in combining both those fields led me towards game development. During college I worked on two independent projects which eventually bagged awards in NGDC. After completing my undergraduate degree, I got opportunities to work on new technologies like VR and AR in my professional work experiences, and that is when I developed a keen interest towards Interactive technologies. This is a field where changes happen really quickly, where creativity matters along with knowledge and constant innovation is the key to stay ahead. I would like to be a part of that big change.
      <br><br>
      That’s all from my side. Let’s hear from you now! 
      <br><br>
    </p>
  </div>

  <footer>
    <% include ./partials/footer.html %>
  </footer>

</body>
</html>
