<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/head.html %>
</head>
<body>

  <script>
    $(document).ready(function(){

    $('ul.tabs li').click(function(){
      var tab_id = $(this).attr('data-tab');

      $('ul.tabs li').removeClass('current');
      $('.tab-content').removeClass('current');

      $(this).addClass('current');
      $("#"+tab_id).addClass('current');
    })

    })
  </script>

  <header>
    <% include ./partials/header.html %>
  </header>

  <div class="landing-container-sm">
    <div class="overlay"> </div>
    <div class="overlay-mouse"> </div>
    <span class="helper"> </span>
    <h1> Work </h1>
  <div>

    <div class="work-container">

  	<ul col-xs-12 class="col-xs-12 tabs">
  		<li class="col-xs-4 col-xs-12tab-link current" data-tab="tab-1">Projects</li>
  		<li class=" col-xs-4 tab-link" data-tab="tab-2">Work Experience</li>
  		<li class=" col-xs-4 tab-link" data-tab="tab-3">Research</li>
  	</ul>

  	<div id="tab-1" class="tab-content current">
      <div class="work-sub-header">
        <img class="work-logo" src="../img/tt-logo.png"/>
        <h1> Triangle Trouble </h1><br>
        <img class="vic-leaf" src="../img/leaf.svg" />
          <h3 style="margin-bottom:40px;"> NGF Student Game of the Year 2016 </h3>
        <img style="transform: rotateY(180deg);" class="vic-leaf" src="../img/leaf.svg" />
        <span class="duration"> Oct 2014 - Mar 2015 </span>
        <p> I started working on Triangle trouble with an objective to get better at Unity 3d development and Graphic design. It is a gyro-based arcade adventure game to play single-handedly which features Mr. Triangle and his other upgraded avatars trying to break into ShapeMaker Inc. Moreover, I developed the user interface and other auxiliary aspects of the game along with integration of third party cloud packages and sdks. </p>
        <div class="my-media">
          <iframe width="720" height="405" src="https://www.youtube.com/embed/Gt7wKR8vBO8" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>

      <div class="work-sub-header">
        <img class="work-logo" src="../img/woorddict-logo.png"/>
        <h1> Woorddict </h1><br>
        <img class="vic-leaf" style="margin-bottom:35px;" src="../img/leaf.svg" />
          <h3 style="line-height: 35px; margin-bottom: 0px;"> NGF Student Game of the Year <br> People's Choice 2015 </h3>
        <img style="transform: rotateY(180deg); margin-bottom:35px;" class="vic-leaf" src="../img/leaf.svg" />
        <span class="duration"> Dec 2013 - Mar 2014 </span>
        <p> For my first independent game development project, I started off with the development of a word game similar to tetris. Woorddict is a tile based word game which would test players’ lexical skills combined with speed and strategy. I worked primarily on developing this gameplay and the interface aspects along with the graphic design for the game. </p>
        <div class="my-media">
          <iframe width="720" height="405" src="https://www.youtube.com/embed/huqZUHQOGfI" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
  	</div>

    <div id="tab-2" class="tab-content">
      <div class="work-sub-header">
        <h1 style="margin-bottom:0px;"> Social Cops, Delhi </h1><br>
        <h3> 3d Data Visualisation Engineer </h3>
        <span class="duration"> Apr 2016 - Mar 2017 </span>
        <p> I worked on the development of 3D data visualisations for various government projects such as Census and SmartCity on Unity 3d game engine targeting Web, AR and VR platforms. My work additionally consisted of developing 2d data visualisations using d3 js and three js for web interfaces. </p>

        <div id="slideshow">
          <div>
            <img src="../img/Census1.png">
          </div>
           <div>
             <img src="../img/SmartCity1.png">
           </div>
           <div>
             <img src="../img/SmartCity2.png">
           </div>
           <div>
             <img src="../img/Soccer2.png">
           </div>
           <div>
             <img src="../img/UPElections1.png">
           </div>
           <div>
             <img src="../img/UPElections2.png">
           </div>
        </div>
      </div>

      <div class="work-sub-header">
        <h1 style="margin-bottom:0px;"> Hashcube Softwares, Bangalore </h1><br>
        <h3> Software Engineer </h3>
        <span class="duration"> Oct 2015 - Jan 2016 </span>
        <p> I added new features and handled maintenance of the primary game, <a href="https://sudokuquest.com/" target="_blank"> Sudoku Quest </a>, on client and server side using Game Closure, Devkit and PHP along with maintaining iOS build and data collection modules using xCode. I also managed bugs and crash logs on iTunes Connect. </p>
      </div>

      <div class="work-sub-header">
        <h1 style="margin-bottom:0px;"> DYU Solutions, Bangalore </h1><br>
        <h3> Software Engineer </h3>
        <span class="duration"> Jun 2015 - Oct 2015 </span>
        <p> As an introduction to interactive technologies, I worked on designing and developing a Virtual Dressing Room application. The process involved conceptualization, developing it using Unity 3D game engine and Kinect v2 technology along with optimizing and testing the software. </p>
      </div>

      <div class="work-sub-header">
        <h1 style="margin-bottom:0px;"> Seamless Eduction Pvt. Lim., Pune </h1><br>
        <h3> Intern </h3>
        <span class="duration"> May 2012 - Jul 2012 </span>
        <p> As part of an internship after my first year of college, I developed an FPS game prototype which included Character Controller and Navigation, Weapon Management System and basic Enemy AI. This project was my introduction to game development and by extension Unity 3D game engine and its vast capabilities. </p>

        <div class="my-media">
          <iframe width="720" height="405" src="https://www.youtube.com/embed/HSK1aX336cU" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
  	</div>
  	<div id="tab-3" class="tab-content">
      <div class="work-sub-header">
        <h1> Gender and Gaming </h1><br>
        <span class="duration"> Jan 2015 - May 2015 </span>
        <p> Having studied humanities alongside technical learning, I researched gender dynamics and misrepresentation in games in an attempt to study technology and specifically games with a nuanced perspective.  I worked on formulating a method to counter stereotypical characters using a scientific approach and documented it in a full-length research paper. </p>
        <embed src="../pdf/gg-paper.pdf" width="720" height="960" alt="pdf" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html">
      </div>

      <div class="work-sub-header">
        <h1> Games and User Behaviour </h1><br>
        <span class="duration"> May 2014 - Jul 2014 </span>
        <p> After exploring various genres of games personally and observing the varying user reactions and their outcomes acutely in those games, I decided to study User Behaviour in games for the my summer internship. I examined user behaviour and human psychology in simulated environments (or games) using trait theory and multi-player, community based networked games. </p>
        <embed src="../pdf/gub-paper.pdf" width="720" height="960" alt="pdf" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html">
      </div>
  	</div>

  </div><!-- container -->

  <footer>
    <% include ./partials/footer.html %>
  </footer>

  <script>
    $("#slideshow > div:gt(0)").hide();

    setInterval(function() {
    $('#slideshow > div:first')
      .fadeOut(1000)
      .next()
      .fadeIn(1000)
      .end()
      .appendTo('#slideshow');
    }, 3000);
  </script>

</body>
</html>
