/*--------------------*/
/*    Custom CSS    */
/*--------------------*/

body {
  background-color: #fff;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  min-width: 768px;
  color: #505050;
  line-height: 30px;
}

b {
  color: #303030;
}

.landing-container {
  display: block;
  position: relative;
  background: linear-gradient(#2a363b, #923F56);
  height: 500px;
  text-align: center;
  z-index: -2;
  margin-bottom: 80px;
}

.landing-container-sm {
  display: block;
  position: relative;
  background: linear-gradient(#2a363b, #923F56);
  height: 400px;
  text-align: center;
  z-index: -2;
  margin-bottom: 80px;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.overlay {
  background: url("../img/landing-bg-long.svg");
  background-size: auto 80%;
  background-repeat: no-repeat;
  z-index: -1;
  height: 100%;
  width: 100%;
  background-position: left center;
  position: absolute;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.overlay-mouse {
  background: url("../img/landing-bg-long-mouse.svg");
  background-size: auto 80%;
  background-repeat: no-repeat;
  z-index: -1;
  height: 100%;
  width: 100%;
  background-position: right center;
  position: absolute;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.landing-container img {
  vertical-align: middle;
  width: 40%;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

@media only screen and (max-width: 960px) {
    .landing-container img {
        width: 60%;
    }

    .overlay {
      background-size: auto 60%;
    }

    .overlay-mouse {
      background-size: auto 60%;
    }
}

.landing-container-sm h1 {
  display: inline-block;
  vertical-align: middle;
  margin: auto;
  color: white;
  font-family: 'Asap', sans-serif;
  font-size: 72px;
}

.my-nav {
  display: block;
  background-color: #2a363b;
  width: 100%;
  height: 140px;
  margin: auto;
  padding: 10px;
}

.logo-container {
  height: 100%;
  padding: 0px;
}

.nav-container {
  height: 100%;
  vertical-align: middle;
  padding: 0px;
  float: right;
}

.logo {
  display: block;
  background-color: #2a363b;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  margin: auto;
  max-width: 120px;
  border-radius: 50%;
}

.logo img {
  height: 120px;
  width: 120px;
}

.nav-container div {
  height: 100%;
}

.nav-links {
  margin: 0;
  padding: 0;
  text-align: center;
  position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.nav-links li {
  display: inline-block;
  font-size: 20px;
  width: 100px;
}

.nav-links li a {
  font-family: 'Asap', sans-serif;
  color: #FFF;
}

.nav-links li a:hover {
  text-decoration: none;
  text-shadow: 0 0 100px rgba(255, 255, 255, 1);
}

.sub-header {
  display: block;
  text-align: center;
  margin: 100px auto;
  width: 720px;
}

.sub-header .my-logo {
  width: 96px;
}

.sub-header h1 {
  font-family: 'Asap', sans-serif;
  font-size: 48px;
  color: #923F56;
}

.sub-header h2 {
  font-size: 24px;
  color: #D24D57;
}

.sub-header p {
  display: inline-block;
  font-size: 18px;
  margin: auto;
  margin: 20px 0;
}

.sub-header a {
  display: block;
  width: 240px;
  height: 50px;
  margin: 20px auto;
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-size: 24px;
  font-family: 'Asap', sans-serif;
  color: white;
  background-color: #D24D57;
  text-decoration: none;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.sub-header a:hover {
  background-color: #923F56;
  text-decoration: none;
}

.cap-content {
  margin: 40px auto;
  height: auto;
  padding: 0;
}

.cap-content img {
  display: block;
  max-width: 96px;
  margin: 8px auto;
}

.cap-content div h3 {
  margin: 10px 0 0 0;
  color: #D24D57;
  text-align: left;
}

.cap-content div p {
  margin: 10px 0 0 0;
  font-size: 18px;
  text-align: justify;
}

footer {
  display: block;
  position: relative;
  background: linear-gradient(#923F56, #2a363b);
  min-height: 480px;
  text-align: center;
}

.footer-bar {
  display: block;
  position: relative;
  background: linear-gradient(#923F56, #2a363b);
  min-height: 480px;
  text-align: center;
}

.work-container {
}

.work-container ul.tabs{
	margin: 0px;
	padding: 0px;
  height: auto;
	list-style: none;
  font-family: 'Asap', sans-serif;
  font-size: 24px;
}

.work-container ul.tabs li{
	background: #923F56;
	color: #fff;
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.work-container ul.tabs li:hover{
  background: #D24D57;
  color: #fff;
}

.work-container ul.tabs li.current{
	background: #fafafa;
	color: #923F56;
}

.work-container .tab-content{
	display: none;
}

.work-container .tab-content.current{
  display: block;
  text-align: center;
  padding-top: 50px;
}

.work-sub-header {
  display: block;
  overflow:auto;
  margin: 100px auto;
  height: auto;
}

.work-logo {
  display: inline-block;
  height: 72px;
  width: 72px;
  margin-right: 30px;
  margin-bottom: 30px;
  border-radius: 20%;
}

.vic-leaf {
  display: inline-block;
  height: 72px;
  width: 72px;
}

.work-sub-header h1 {
  color: #923F56;
  font-size: 36px;
}

.work-sub-header h3 {
  display: inline-block;
  color: #D24D57;
  font-size: 24px;
}

.duration {
  font-size: 14px;
  text-align: center;
  margin: 10px auto;
  display: block;
}

.work-sub-header p {
  max-width: 720px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 18px;
  text-align: justify;
}

.my-media {
  width: 720px;
  margin: 0 auto;
}

.about {
  max-width: 720px;
  margin: 50px auto;
  font-size: 18px;
  text-align: justify;
  text-indent: inherit;
}

.about  .img-col {
  display: inline-block;
  text-align: center;
}

.about  .img-col img {
   border-radius: 50%;
   width: 90%;
   margin-bottom: 10px;
}

.about  .img-col p {
  padding: 0 20px;
  font-size: 16px;
  color: #923F56;
  text-align: center;
  font-weight: bold;
}


#return-to-top {
    position: fixed;
    bottom: 64px;
    right: 32px;
    background-color: #2a363b;
    opacity: 0.9;
    width: 60px;
    height: 60px;
    display: block;
    text-decoration: none;
    border-radius: 50%;
    display: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 1;
}

#return-to-top span {
    color: #fff;
    margin: 0;
    position: relative;
    left: 22px;
    top: 18px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background-color: #3c4d54;
    opacity: 1;
}

#return-to-top:hover span {
    color: #fff;
    top: 12px;
}

.social ul {
  display: inline-block;
  padding: 0;
}

.social-btn {
  display: inline-block;
  width: 48px;
  height: 48px;
  margin: 45px 20px 50px 20px;
  border-radius: 50%;
  background-color: #D24D57;
  border-radius: 50%;
}

.social-btn a {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  text-decoration: none;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.fa {
  display: inline;
  font-size: 24px;
  line-height: 48px;
  color: white;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.social-btn.twitter :hover {
  background-color: #55acee;
}

.social-btn.facebook :hover {
  background-color: #3b5998;
}

.social-btn.linkedin :hover {
  background-color: #007bb5;
}

.footer-bar p {
  position: absolute;
  bottom: 10px;
  width: 300px;
  left: 50%;
  margin-left: -150px;
  color: #aaa;
}

.footer-bar p a {
  cursor:pointer;
  color: #aaa;
}

#slideshow {
  margin: 30px auto;
  position: relative;
  width: 720px;
  height: 420px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

#slideshow div {
  position: absolute;
}

#slideshow div img {
  width: 720px;
  height: 420px;
}

.no-page {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background: linear-gradient(#2a363b, #923F56);
  z-index: -2;
  min-width: 768px;
  min-height: 520px;
}
