
  <div style="margin: 0 auto; padding-top: 40px;" class="sub-header">
    <h1 style="color: #fff"> Lets Talk! </h1>
    <p style="color: #fafafa"> If you work on games or interactive technologies and would like to collaborate or if you have a lot of cats, I’m super interested! </p>
    <a href="mailto:kunal2619@gmail.com?subject=Hello!"> Get in Touch </a>
  </div>

  <div class="social">
    <ul>
      <li class="social-btn twitter"><a href="https://twitter.com/kunal2619" target="_blank"> <i class="fa fa-twitter"> </i> </a></li>
      <li class="social-btn facebook"><a href="https://www.facebook.com/kunal.sonar.568" target="_blank"> <i class="fa fa-facebook"> </i> </a></li>
      <li class="social-btn linkedin"><a href="https://www.linkedin.com/in/kunal-sonar-89796a51/" target="_blank"> <i class="fa fa-linkedin"> </i> </a></li>
    </ul>
  </div>

  <p style="color: #fafafa; margin-bottom: 0px;">&copy; <a href="http://kunalsonar.in" target="_blank">kunalsonar.in</a> 2017</p>
