<div class="my-nav">
  <div class="col-xs-5 logo-container">
    <a href="/" class="logo">
      <img src="../img/kunal.svg" />
    </a>
  </div>
  <div class="col-xs-7 nav-container">
    <div style="padding: 0;" class="col-xs-12">
      <ul id="nav" class="nav-links">
        <li> <a href="/"> Home </a> </li>
        <li> <a href="/work"> Work </a> </li>
        <li> <a href="/about"> About </a> </li>
        <li> <a href="mailto:kunal2619@gmail.com?subject=Hello!"> Lets Talk! </a> </li>
      </ul>
    </div>
  </div>
</div>

<a href="javascript:" id="return-to-top"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></a>

<script>
// ===== Scroll to Top ====
$(window).scroll(function() {
  if ($(this).scrollTop() >= 300) {        // If page is scrolled more than 50px
      $('#return-to-top').fadeIn(500);    // Fade in the arrow
  } else {
      $('#return-to-top').fadeOut(200);   // Else fade out the arrow
  }
});

$('#return-to-top').click(function() {      // When arrow is clicked
  $('body,html').animate({
      scrollTop : 0                       // Scroll to top of body
  }, 500);
});
</script>
