<meta charset="UTF-8">
<title>Kunal Sonar</title>

<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Asap:500" rel="stylesheet">

<link rel="icon" type="image/png" sizes="32x32" href="../favicon.png">
<link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
<link rel="stylesheet" href="../css/bootstrap.min.css"/>
<link rel="stylesheet" href="../css/style.css"/>

<script src="../js/jquery-3.1.1.min.js"> </script>
<script src="../js/bootstrap.min.js"> </script>
